# ================================
# BUILD SYSTEM
# ================================
build/
.gradle/
bin/

# ================================
# LOGS
# ================================
logs/

# ================================
# VERSION CONTROL
# ================================
.git/
.gitignore

# ================================
# JAVA / JVM
# ================================
*.class
*.jar
*.war
*.ear
*.iml


# ================================
# OPERATING SYSTEM
# ================================
.DS_Store
Thumbs.db

# ================================
# IDEs
# ================================
.idea/
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# ================================
# OTHERS
# ================================
*.tmp
*.bak

# ================================
# DOCKER
# ================================
*.tar

# Ignora todo dentro de uploads
uploads/
# No ignores la carpeta avatars
!uploads/avatars/
# Incluye solo este archivo
!uploads/avatars/default.png
!uploads/avatars/owner.jpg